{
  "extends": "react-app",
  "rules": {
    "comma-dangle": ["error", {
        "objects": "always-multiline",
        "functions": "never",
        "arrays": "always-multiline",
        "imports": "never",
        "exports": "never"
    }],
    "react/no-deprecated": false
  },
  "globals": {
    "warning": true
  }
}
